@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
* {
	font-family: 'Lora', serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--lavender: #EED9F3;
	--success-color: #3EA670;
	--error-color: #EE5335;
	--light-pink: #F7C7C8;
	--coral: #FF8072;
	--light-blue: #A5DBF5;
	--teal: #3B91A3;
	--purple: #2F0072;
	--bright-purple: #5900D8;
	--white: #FFFFFF;
	--off-black: #222222;
}

body {
	font-size: 16px;
	background: var(--white);
	margin: 20px;
	background-image: url('../images/big-blobb.svg');
	background-repeat: no-repeat;
	background-size: cover;
	/* overflow-x: hidden; */
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--purple);
	color: var(--white);
	border: 0;
	border-radius: 10px;
	font-weight: 500;
	font-size: 18px;
}

.btn:hover {
	background-color: var(--bright-purple);
}

/* Video & Chat Page */

.page-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.top-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
}

/* Leaderboard */

.leaderboard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.leaderboard ul {
	margin-left: 40px;
	margin-top: 40px;
}

.leaderboard li {
	background-color: var(--white);
	border-radius: 20px;
	width: 200px;
	margin: 20px;
	font-size: 20px;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	padding: 5px;
}

.leaderboard span {
	margin: 0 20px;
	color: black;
	font-size: 26px;
}

.pose-name {
	background-color: var(--success-color);
	border-radius: 50px;
	border: none;
	padding: 15px;
	margin: 20px;
	width: 300px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pose-name h4 {
	color: var(--white);
	font-size: 22px;
	text-align: center;
	font-weight: 500;
}

.yoga-image {
	display: flex;
	justify-content: flex-end;
	margin: 0 20px 20px 20px;
	position: absolute;
	bottom: 100px;
	right: 0;
	z-index: -1;
}

.icon-box {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

.icon {
	background-color: var(--light-pink);
	border-radius: 50px;
	border: none;
	object-fit: contain;
	width: 80px;
	padding: 20px;
	z-index: 2;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.message {
	display: flex;
	align-self: center;
	margin-top: 120px;
}

.chat-container {
	max-width: 1100px;
	background-image: url('../images/chat-blob.svg');
	background-color: var(--light-pink);
	margin: 140px auto;
	overflow: hidden;
	border-radius: 10px;
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12)
}

.chat-header {
	background: var(--coral);
	color: var(--off-black);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 28px;
}

.chat-header span {
	color: var(--bright-purple);
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin: 40px;
}

.chat-sidebar {
	background: var(--purple);
	color: var(--white);
	padding: 20px 20px 60px;
	margin: 20px;
	border-radius: 10px;
	overflow-y: scroll;
}

.chat-sidebar h3 {
	font-size: 20px;
}

.chat-sidebar h2 {
	font-size: 16px;
	background: var(--bright-purple);
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar li {
	font-size: 14px;
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
	background-color: var(--white);
	border-radius: 10px;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--white);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--purple);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: var(--off-black);
}

.room-form-container {
	padding: 20px 30px;
	background-color: var(--coral);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.room-form-container form {
	display: flex;
	flex-direction: row;
}

.room-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
	padding-left: 20px;
	width: 100%;
	border-radius: 10px;
	border: none;
	color: var(--off-black);
	font-weight: 500;
}

form .btn {
	background-color: var(--purple);
	color: white;
	max-width: 200px;
	border-radius: 20px;
	margin: 0 10px;
	width: 100%;
	font-size: 16px;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	border-radius: 20px;
	color: var(--white);
  box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12)
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--light-pink);
	font-size: 26px;
	color: var(--off-black);	
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.join-header h5 {
	padding: 4px;
	color: var(--purple);
}

.yoga {
	width: 100%;
	object-fit: contain;
	max-width: 400px;
}

.join-main {
	padding: 30px 40px;
	background: var(--light-pink);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	color: var(--off-black);
	font-size: 18px;
	font-weight: 600;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	padding-left: 20px;
	height: 40px;
	width: 100%;
	border-radius: 10px;
	border: none;
	color: var(--off-black);
	font-weight: 500;
}

.join-main select, option {
	font-size: 16px;
	padding: 5px;
	padding-left: 20px;
	height: 40px;
	width: 100%;
	border: none;
	border-radius: 20px;
	font-weight: 500;
}

.join-main .btn {
	align-self: center;
	margin-top: 20px;
	width: 200px;
	padding: 10px 0;
	border-radius: 20px;
	background-color: var(--purple);
	color: var(--white);
	font-weight: 500;
	font-size: 20px;
}	

.join-main .btn:hover {
		background-color: #5900d8;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

/* for videos */


.video-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main-video {
	width: 500px;
	
}

.example {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin: 20px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#video-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-auto-rows: 250px;
	grid-gap: 20px;
	justify-items: center;
}

#video-grid video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 6px solid var(--purple);
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin: 20px;
}
